{
  "local": {
    "environment": "{ENV NAME}",
    "api": "{API HTTP ADDRESS}",
    "ttl": "{REDIS KEY TTL}",
    "maxAttempts" : {MAX RETRY ATTEMPTS},
    "retryDelay": {DELAY BETWEEN RETRIES}
  }
}
